<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">About</h1>
        </div>
    </div>
</header>
<div class="container text-left">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h3 class="color-primary">Welcome to Candlewood Lake Ohio!</h3>
            <p>Candlewood is a private, serene 1,500 acre vacation style community located in rural Morrow County, just North of Mt. Gilead, Ohio. Within a short drive from both Columbus and Cleveland, Ohio, Candlewood Lake offers both vacation and full-time real estate in a secure, gated recreational community.</p>
            <p>Candlewood is owned and operated by our homeowner's association comprised of Candlewood Lake members. The association has overseen the continual progress of our community from its humble beginnings with one home in 1973 to its current position as the second largest and highest valued municipality in Morrow County.</p>
            <p>Wooded lots surround a 250-acre stream fed lake which is the heart of our community. The lake is just the right size for boating, water skiing, fishing, swimming or just taking a leisurely pontoon ride along our six miles of scenic shoreline.</p>
            <p>140 acres throughout the community are currently dedicated to parks, green space and amenities. Candlewood includes residential, mobile home, RV and primitive camping units. Opportunities for recreation abound and include anything from strolling along the beautiful tree lined streets, to biking, swimming, boating, fishing and tennis to name a few.</p>

            <h3 class="color-primary">History</h3>
            <p>Candlewood Lake was started by a private developer in the early 1970's. Construction took several years to complete. When the developer ran out of money, a committee was formed to purchase the land and take over the development. Now known as the Candlewood Lake Association, the committee was comprised of land owners at Candlewood. Though low on funds, by this time the development had the advantage of a lake, a recreation vehicle park, lodges and pools. Through steady management and good marketing, more than 30 years later Candlewood is a thriving close knit community with over 500 homes on 3000 lots enjoyed by many full time and part time residents.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="app/img/histor1.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
            <img src="app/img/histor2.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
            <img src="app/img/histor3.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
        </div>
    </div>
    <h3 class="color-primary">The Board</h3>
    <div class="row">
        <div class="col-sm-12">
            <p>The Candlewood Lake Association Board of Trustees governs the community, setting priorities and adopting annual and long range plans. The board sets an annual budget, as well as enacts rules, regulations and policies. In person meetings are held the fourth Monday of each month at the main lodge and is open to all Candlewood Lake property owners.  Association members may receive a copy of the minutes of any Board meeting by emailing the General Manager.</p>
            <p>Board officers include the Board President, Vice-President, Secretary and Treasurer. The President, who is elected from the Board of Directors, is the chief executive officer of the Association and has general supervision, direction and control of the business and officers of the Association including paid staff. The Vice President acts in the absence or disability of the President. The Secretary writes and maintains a book of minutes for all meetings of the Board and documents Board members in attendance at meetings. The Treasurer keeps accounts of the properties and business transactions of the Association, deposits and disburses funds, and provides an account of all treasurer transactions.</p>
            <p>An Association member wishing to run for a position on the Board, should contact the office at <a href="tel:4199471138">(419) 947-1138</a>.</p>
            <h4>Candlewood Lake Association 2017 Board Members</h4>
            <ul class="list-unstyled">
                <li>Dan Dickman-President</li>
                <li>Bob Durbin-Vice President</li>
                <li>Laurie Parish-Secretary</li>
                <li>Larry Post-Past President</li>
                <li>Ralph Miklovic</li>
                <li>Heidi Repp-treasurer</li>
                <li>Shannon Carroll</li>
                <li>Rob Goodwin</li>
                <li>Joe Reineke</li>
                <li>Robert Lucas Jr.</li>
            </ul><br>
        </div>
    </div>
    <h3 class="color-primary">Governance</h3>
    <div class="row">
        <div class="col-sm-12">
            <p>The Candlewood Lake Association is the second largest community located within Morrow County, Ohio.  It is managed by an elected Board of Trustees and Bylaws. Candlewood Lake’s Trustees are elected from within the Association membership by the membership.  The Board governs the community, setting priorities, adopting annual and long range plans and setting an annual budget as well as enacting rules, regulations and bylaws.  It meets the fourth Monday of every month at the Main Lodge and meetings are open to all property owners.</p>
            <p>The Board and Home Owner’s Association (HOA) are supported by a full-time staff that includes a general manager, administrative, maintenance and security staff. The Board of Directors has delegated various facets of running the community to several standing and ad hoc committees which are generally comprised of trustees and members of the Association.</p>
            <dl>
                <dt>Standing Committees</dt>
                <dd>The work of the Standing Committees is to review, research and recommend changes in policy to the Board of Trustees.</dd>
                <dt>Executive Committee</dt>
                <dd>The Executive Committee is responsible for establishing the agendas for regular or special Trustee meetings, implementing policies and resolutions passed by the Trustees, serves as a Personnel Committee and resolves disputes regarding implementation of Board policy and procedures.  It deals with other items as required.</dd>
                <dt>Finance Committee</dt>
                <dd>The Finance Committee is responsible for overseeing the financial, insurance and audit aspects of the Association. This includes monitoring budget preparation, all accounting procedures, recommending outside auditors and regular reporting to the Trustees and membership.</dd>
                <dt>Long Range Planning Committee</dt>
                <dd>The committee's responsibility is to assess and evaluate the long range vision of Candlewood Lake Association as derived from its Membership and make recommendations over time to meet the vision of Candlewood Lake Association.</dd>
                <dt>Bylaws/Legal Committee</dt>
                <dd>The Bylaws Committee monitors the Bylaws, Articles of Incorporation and Deed Restrictions and recommends changes when and where necessary.</dd>
                <dt>Environmental Control Committee</dt>
                <dd>The ECC committee ensures the preservation of the original recreational and residential theme of the community and its environmental integrity in areas such as: the construction, placement on lots, occupancy and maintenance of conventionally or custom built houses, mobile homes, recreational vehicles and other accessory structures.</dd>

                <dt>Lake and Siltation Committee</dt>
                <dd>The committee works to insure the lake shore line is protected from erosion and suggests policies as necessary to the Board of Trustees relating to lake quality and maintenance.</dd>
                <dt>Security/Compliance Committee</dt>
                <dd>The committee deals with issues involving security for the community as well as compliance with regulatory directives regarding safety and health.</dd>
                <dt>Utility Committee</dt>
                <dd>The Utility Committee makes recommendations to the Board on issues relative to all utility aspects of the operation of Candlewood Lake.</dd>
            </dl>
            <p>The President names as many ad hoc committees as necessary to carry out the activities of the administration.</p>
        </div>
    </div><br>
</div>