<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Contact</h1>
        </div>
    </div>
</header>
<div class="container text-left">
    <div class="row"><br>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right hidden-xs" style="border-right: 1px #ddd solid">
            <h4 style="margin-bottom: 0">Business Office</h4>
            <p>Monday - Friday, 8am - 4:30pm<br>
                <a href="https://goo.gl/maps/GN4vXM1ccCJ2">7326 State Route 19, Unit 1507<Br>Mount Gilead, OH 43338 <i class="fa fa-map-marker"></i></a><br>
                <a href="tel:4199471138">(419) 947-1138</a><br>Fax <a href="tel:4199471695">(419) 947-1695</a><br>
                Call security all other hours
            </p>
            <h4 style="margin-bottom: 0">Security</h4>
            <p><a href="tel:4199473511">(419) 947-3511</a></p>
            <h4 style="margin-bottom: 0">Maintenance</h4>
            <p><a href="tel:4199471200">(419) 947-1200</a></p>
            <h4 style="margin-bottom: 0">Pool</h4>
            <p><a href="tel:4199461637">(419) 946-1637</a></p>
            <h4 style="margin-bottom: 0">Sales</h4>
            <p><a href="mailto:sales@candlewoodlake.us">sales@candlewoodlake.us</a></p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="visible-xs">
                <h4 style="margin-bottom: 0">Business Office</h4>
                <p>Monday - Friday, 8am - 4:30pm<br>
                    <a href="https://goo.gl/maps/GN4vXM1ccCJ2">7326 State Route 19, Unit 1507<Br>Mount Gilead, OH 43338 <i class="fa fa-map-marker"></i></a><br>
                    <a href="tel:4199471138">(419) 947-1138</a><br>Fax <a href="tel:4199471695">(419) 947-1695</a><br>
                    Call security all other hours
                </p>
                <h4 style="margin-bottom: 0">Security</h4>
                <p><a href="tel:4199473511">(419) 947-3511</a></p>
                <h4 style="margin-bottom: 0">Maintenance</h4>
                <p><a href="tel:4199471200">(419) 947-1200</a></p>
                <h4 style="margin-bottom: 0">Pool</h4>
                <p><a href="tel:4199461637">(419) 946-1637</a></p>
                <h4 style="margin-bottom: 0">Sales</h4>
                <p><a href="mailto:sales@candlewoodlake.us">sales@candlewoodlake.us</a></p>
            </div>
            <h4 style="margin-bottom: 0">General Manager</h4>
            <p>Tim Remy <a href="mailto:timr@candlewoodlake.us">timr@candlewoodlake.us<br></a></p>
            <h4 style="margin-bottom: 0">Financial Director &amp; Office Manager</h4>
            <p>Heidi Repp <a href="mailto:heidir@candlewoodlake.us">heidir@candlewoodlake.us<br></a></p>
            <h4 style="margin-bottom: 0">Receptionist/ Directory and Chronicle Editor</h4>
            <p>Meghan Dreger <a href="mailto:meghand@candlewoodlake.us">meghand@candlewoodlake.us<br></a></p>
            <h4 style="margin-bottom: 0">Accounts Receivable</h4>
            <p>Christy Tinch <a href="mailto:christyt@candlewoodlake.us">christyt@candlewoodlake.us<br></a></p>
            <h4 style="margin-bottom: 0">Chronicle and Directory Editor</h4>
            <p>Sheryl Brown <a href="mailto:cwlchronicle@candlewoodlake.us">cwlchronicle@candlewoodlake.us<br></a></p>
            <h4 style="margin-bottom: 0">ECC Compliance/Building Inspector</h4>
            <p>Tim Brinley <a href="mailto:cwlinspector@candlewoodlake.us">cwlinspector@candlewoodlake.us<br></a></p>
            <h4 style="margin-bottom: 0">Security Supervisor</h4>
            <p>Gary Weaver <a href="mailto:garyw@candlewoodlake.us">garyw@candlewoodlake.us</a></p>
        </div>
    </div>
    <br>
</div>