<div class="container">
    <div class="row" style="padding-bottom: 10%">
        <div class="col-sm-12">
            <h3 class="text-center">Welcome back {{user.name}}!</h3>
            <hr>
            <h3 class="text-center">Available Documents</h3><br>
        </div>
        <div class="col-md-4 col-sm-5">
            <div class="list-group">
                <div class="list-group-item pointer" ng-click="filterDocs = {}" ng-class="{'active': !filterDocs.type}">
                    <p style="margin-bottom: 0">All</p>
                </div>
                <div class="list-group-item pointer" ng-click="filterDocs.type = 'handbook'" ng-class="{'active': filterDocs.type === 'handbook'}">
                    <p style="margin-bottom: 0">Handbook</p>
                </div>
                <div class="list-group-item pointer" ng-click="filterDocs.type = 'minutes'" ng-class="{'active': filterDocs.type === 'minutes'}">
                    <p style="margin-bottom: 0">Monthly Meeting Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-7">
            <div class="list-group" ng-show="documents && documents.length">
                <div class="list-group-item" ng-repeat="document in documents | filter:filterDocs">
                    <h4>{{document.name}} <span class="pull-right"><a href="#" ng-click="save(document)"><i class="fa fa-download"></i></a></span></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--<hr>-->
        <!--<h3 class="text-center">New Document</h3>-->
        <!--<form ng-submit="upload()">-->
        <!--<div class="form-group">-->
        <!--<label>Document (PDF)</label>-->
        <!--<input class="form-control input-lg" type="file" ng-model="newFile.data" name="docData" title="File" required>-->
        <!--</div>-->
        <!--<label>Document Name</label>-->
        <!--<div class="input-group input-group-lg">-->
        <!--<input class="form-control input-lg" ng-model="newFile.name" placeholder="Document Name" title="Document Name" name="docName" required>-->
        <!--<div class="input-group-btn">-->
        <!--<button class="btn btn-lg btn-primary" type="submit">-->
        <!--<i class="fa fa-save"></i>-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
    </div>
</div>