<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Ongoing Events</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left"><br>
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <p>Every season brings traditional celebrations and activities at Candlewood Lake.</p>
                <h3 class="color-primary">Spring</h3>
                <ul class="list-unstyled">
                    <li>Spring Garage sale</li>
                    <li>Children's Easter egg hunt</li>
                </ul>
                <h3 class="color-primary">Summer</h3>
                <ul class="list-unstyled">
                    <li>Campfire get-togethers</li>
                    <li>Trips to concerts and plays</li>
                    <li>Pool parties</li>
                    <li>Teen movie nights at the pool</li>
                    <li>Adult swim nights</li>
                    <li>Progressive Dinner sponsored by the Fish and Boat Club</li>
                </ul>
                <h3 class="color-primary">Fall</h3>
                <ul class="list-unstyled">
                    <li>Tailgate parties</li>
                    <li>Fall garage sale and craft show</li>
                    <li>Children's Halloween party</li>
                </ul>
                <h3 class="color-primary">Winter</h3>
                <ul class="list-unstyled">
                    <li>Children's Christmas party</li>
                    <li>Family Christmas party</li>
                    <li>Adult New Year's Eve party</li>
                    <li>Adult Valentine's Day party</li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <p>Most of the events that take place at Candlewood Lake are planned and organized by members of the Community. Some are organized by one or two individuals but others take several people to plan, decorate and organize. Throughout the membership of Candlewood there is a lot of talent and it is amazing what has been achieved especially with some of the children's parties.</p>
                <p>Candlewood also has an Events Committee that will help members with events as requested.</p>
            </div>
        </div>
        <br>
    </div>
</div>


