<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">The Fourth of July</h1>
            <p class="lead lead-xl center-block color-medium mb-2 animated fadeInDown animation-delay-4">The 4th of July is a big deal at Candlewood Lake!</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12"><br>
                <p>The tradition of Candlewood Lake's fireworks display was started many years ago by a longtime resident of Candlewood Lake, Jack Lehman. His family has been part of the community for over 25 years. Jack owned Lehman Construction Company and built houses exclusively in Candlewood Lake. He and his family started the fireworks to give back to their community. The fireworks display started off modestly and grew over the years to what it is today. After Jack passed away, the Home Owners Association took over responsibility for the fireworks and the 2014 display began with a 21 "boom" salute in memory of him.</p>
                <p>In addition to having the largest private fireworks display in the Northern part of the state, there are celebrations planned throughout the day at Candlewood. These include a golf cart parade, ski show, ice cream social and boat parade as well as many beach parties and family picnics. The highlight of the day begins in the evening when Candlewood invites the public to put blankets on the hill side to enjoy the evening's festivities.</p>
                <p>Several clubs and organizations throughout the Candlewood Lake community get involved to make the 4th of July festivities more fun. For example, the Auxiliary puts on the ice cream social and members of the ski club perform in the ski show. The fireworks display is organized by the HOA and executed by the fire department.</p>
            </div><div class="clearfix"></div><br class="hidden-sm hidden-xs">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <img src="/app/img/fireworks2.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <img src="/app/img/fireworks3.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <img src="/app/img/fireworks4.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
            </div>
        </div>
        <br>
    </div>
</div>