<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Swimming Pools</h1>
            <p class="lead lead-xl center-block color-medium mb-2 animated fadeInDown animation-delay-4"> Our swimming pools are the second favorite recreational activity at Candlewood Lake.</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="color-primary">Swimming Information</h3>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <p><strong>Main Pool Hours</strong><br>Daily Noon- 8:00 PM<br><strong>RV Pool Hours</strong><br>Friday 4:00 PM - 8:00 PM
                    <br>Saturday Noon - 8:00 PM<br>Sunday Noon - 6:00 PM</p>
                <p>Pools open around Memorial Day and close around Labor Day.</p>
                <p>There are two swimming pools located within the community. The main pool, situated near the main lodge, recently underwent a renovation and is a popular place to be. The pool is 40' X 75' and includes a:</p>
                <ul>
                    <li>Diving board</li>
                    <li>Children's wading pool</li>
                    <li>Shower rooms with lockers</li>
                    <li>Lifeguards</li>
                    <li>A very popular concession stand</li>
                </ul>
                <p>Swimmers and non-swimmers come to purchase lunch and snacks from the pool's concession all summer long.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <img src="/app/img/pool1.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
                <img src="/app/img/pool2.jpg" class="img-responsive pull-right">
            </div>
        </div>
        <br>
    </div>
</div>