<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Amenities</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="color-primary">Facilities</h3>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <p class="lead lead-lg">Whether you enjoy an active or relaxing lifestyle, Candlewood Lake offers plenty to do.</p>
                <p> With facilities throughout the development, your favorite activities are only a few minutes away. The Candlewood Lake Office that houses the General Manager and other paid staff is conveniently located a short distance from the main gate on Candlewood Blvd. Next to the office is a Community center building that contains gently used exercise equipment available for use by all Candlewood members. The community has <a href="#lodges">two lodges</a>. The main lodge is located off Candlewood Drive and the RV Lodge is located in the RV area of the community.</p>
                <p>The community has <a href="/explore/pools">two swimming pools</a>. Both pools have a pool house and food concession area. The pool located near the main lodge also has a kiddie pool. The second pool is located adjacent to the RV lodge.</p>
                <p>Residents of Candlewood Lake have access to the community amenities and facilities. For questions regarding any facilities, contact the Candlewood Lake office <a href="tel:4199471138">(419) 947-1138</a> open Monday - Friday, 8:00am to 4:30pm.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p>In addition, the community has a:</p>
                <ul>
                    <li>Tennis court</li>
                    <li>Basketball court</li>
                    <li>Volleyball court</li>
                    <li>Beach</li>
                    <li>Playground</li>
                    <li>Picnic shelter</li>
                    <li>Picnic areas with tables and grills</li>
                    <li>Nature trail</li>
                    <li>RV camping and</li>
                    <li>Primitive Camp Sites</li>
                </ul>
            </div>
        </div>
        <br>
        <h3 class="color-primary">Lodges</h3>
        <!--Lodges-->
        <p class="lead lead-lg">Candlewood Lake has two lodges.</p>
        <div class="row" id="lodges">
            <div class="col-md-6 col-sm-12">
                <p>The Main Lodge is a two-story 7,000 square foot facility located on the waterfront. Each floor opens onto wrap-around decks offering breathtaking views of the lake in all seasons. The Lodge is centrally located adjacent to the main swimming pool and tennis courts. A temporary use boat dock is conveniently located below the lodge. Each floor contains a large stone fireplace with comfortable seating and an informal library is maintained by lake residents.</p>
                <p>The Main Lodge upper and lower floors are each available for community and member use. The upper floor has an equipped kitchen making it convenient for catered events. In addition, the upper floor has a big screen television and other media available for gatherings and to help facilitate meetings.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>The RV lodge, conveniently located in the RV Park, is 2,975 square feet under roof. It houses a pool table and a ping pong table. If desired, a wall of doors slide aside to create an outdoor pavilion-type atmosphere.</p>
                <p> The RV lodge contains a kitchen and is also available for use by members of the community.</p>
                <p>Both lodges are ideal settings for events such as: weddings, children's parties, adult parties, dinners, family reunions, club get-togethers, community meetings and gatherings, and more.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src="app/img/mainlodgethumb.jpg" class="img-responsive">
                <label>Main Lodge</label>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="app/img/insidemainlodge.jpg" class="img-responsive">
                <label>Main Lodge</label>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="app/img/insidemainlodge2.jpg" class="img-responsive">
                <label>Main Lodge</label>
            </div>
        </div>
        <br>
        <!--Camping-->
        <h3 class="color-primary">Camping</h3>
        <p class="lead lead-lg">Go RVing at Candlewood Lake.</p>
        <p>Enjoy all the pleasures of camping by purchasing a permanent site at the Candlewood RV Park.  Lots are approximately 35 X 70 feet and currently we are offering a second lot at half price.  Once you have your lot(s) developed to your liking you can sit back and enjoy all the fun that the Candlewood RV Park has to offer.</p>
        <p>A lodge, swimming pool and playground are conveniently located at the RV Park.  However, Candlewood’s amenities, including our 250 acre lake, are available for use by all residents.  Enjoy skiing, fishing and swimming either at the beach or diving off your boat.  Boat slips may be rented for the season.</p>
        <p>Rustic campsites are available by the season or by the night to residents and their guests. Camp sites have electric hook-up. There is a bath house and dump station. Arrangements may be made through the Candlewood Lake business office <a href="tel:4199471138">(419) 947-1138</a>.</p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img src="app/img/rvlodge.jpg" class="img-responsive">
                <label>RV Lodge</label>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="app/img/insidervlodge.jpg" class="img-responsive">
                <label>Inside RV Lodge</label>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="app/img/rvpool.jpg" class="img-responsive">
                <label>RV Pool</label>
            </div>
        </div><br>
    </div>
</div>