<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">The Beach</h1>
            <p class="lead lead-xl center-block color-medium mb-2 animated fadeInDown animation-delay-4"> The beach is one of the best places to be on a warm sunny day when the waves from boats passing by are breaking onto the shore. </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left"><br>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <p>Whether you are playing in the water or just relaxing lazily on the sandy beach or on a raft, the beach is the place for you. Candlewood's beach has a large sandy area with more sand added regularly to maintain a soft sand reservoir and to protect the shore.</p>
                <p>There is also a designated, roped-off area of the lake for beach swimming. A boat dock, located next to the beach, allows boaters to drop off and pick up passengers who want to take a break from boating and swim in the lake. Adjacent to the beach are the playground, volleyball court and a picnic shelter that overlooks the lake.</p>
                <p>There are also picnic tables on a grassy area between the beach and the playground and of course, plenty of parking. Whether you spend an afternoon or the entire day at the beach, it is an ideal spot for adults and children alike.</p>
                <h3 class="color-primary">Beach Activities</h3>
                <p>There are a lot of activities that take place on Candlewood's beach. The usual swimming, rafting, sunbathing and playing occur but one will also see an occasional wedding ceremony taking place. When these ceremonies are held, it catches attention from neighbors and passersby alike. A community hot dog roast is also held on the beach each fall.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <!--<img src="/app/img/beach1.jpg" style="margin-bottom: 10px">-->
                <img src="/app/img/beach2.jpg" style="margin-bottom: 10px">
                <img src="/app/img/beach3.jpg" style="margin-bottom: 10px">
            </div>
        </div>
        <br>
    </div>
</div>