<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">The Lake</h1>
            <p class="lead lead-xl center-block color-medium mb-2 animated fadeInDown animation-delay-4"> Candlewood Lake is a
                <span class="colorStar">250 acre stream fed lake</span> with more than six miles of scenic shoreline.
                <br> Read about the various activities enjoyed on the water.</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="color-primary">Boating</h3>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <p class="lead lead-lg">Candlewood Lake is known for having one of the lower boat densities per acre among private lake communities in Ohio.</p>
                <p>This means fewer boats on the lake compared to many other Ohio lakes.  It’s not uncommon to have the entire 250 acre lake to yourself on weekdays throughout the summer. The lake, surrounded by wooded lots, is easily accessible using one of two boat launch ramps. Two rental dock areas are also available for those who don't own lakefront property. There is even a security boat on the water most days to help ensure your boating experience is safe and fun. Whether you live here full time or utilize the lake for a weekend getaway, we know you will enjoy what we have to offer.</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>Boats normally seen on the lake include:
                        <ul class="list-unstyled">
                            <li>Ski boats</li>
                            <li>Pleasure boats</li>
                            <li>Pontoon boats</li>
                            <li>Fishing boats</li>
                            <li>Paddle boats</li>
                            <li>Kayaks</li>
                            <li>Canoes and row boats</li>
                        </ul></p>
                    </div>
                    <!--<div class="col-md-6 col-sm-12">-->
                        <!--<p>&nbsp;</p>-->
                        <!--<div class="clearfix"></div>-->
                        <!--<img src="/app/img/boat1.jpg" class="pull-right">-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="/app/img/boat1.jpg" class="img-responsive pull-right" style="margin-bottom: 10px">
                <img src="/app/img/boat2.jpg" class="img-responsive pull-right">
            </div>
        </div>
        <br>
        <h3 class="color-primary">Fishing</h3>
        <!--Fishing-->
        <p class="lead lead-lg">Fishing is a popular sport and recreational activity at Candlewood Lake.</p>
        <p>Whether you are a serious angler or just enjoy casting your line with the grandkids, Candlewood Lake has lots of ideal fishing spots. The lake has two islands and several quiet coves great for fishing off your boat or from the shore. There is also a well-stocked pond in which to fish.</p>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p >The lake is restocked annually and includes:
                <ul class="list-unstyled">
                    <li>Largemouth and Smallmouth Bass</li>
                    <li>Bluegill</li>
                    <li>Catfish</li>
                    <li>Crappie (Black and White)</li>
                    <li>Hybrid Striped Bass</li>
                    <li>Walleye</li>
                    <li>Yellow Perch</li>
                </ul></p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p>From springtime through fall, fishing tournaments are held for both adults and children:
                <ul class="list-unstyled">
                    <li>Catfish</li>
                    <li>All Species</li>
                    <li>Carp</li>
                    <li>Just Kids</li>
                    <li>Spring Bass Tournaments</li>
                    <li>Fall Bass Tournaments</li>
                </ul></p>
            </div>
            <!--<div class="clearfix"></div>-->
            <!--<div class="col-md-4 col-sm-12">-->
                <!--<img src="/app/img/fishing1.jpg" class="img-responsive">-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-12">-->
                <!--<img src="/app/img/kidsfishing.jpg" class="img-responsive">-->
            <!--</div>-->
            <div class="col-md-4 col-sm-12">
                <img src="/app/img/kidlargefish.jpg" class="img-responsive">
            </div>
        </div>
        <!--More fun-->
        <br>
        <h3 class="color-primary">More Lake Fun</h3>
        <p>In the past, when someone talked about lake fun, skiing or swimming were the first things to come to mind. But now, for those who prefer a low-key approach to a day on the lake, there are more relaxing options to consider such as various floats, recliners, and water lounges. Lazing about has evolved into a lake activity that doesn't even require you to go back to the shore to retrieve refreshments-simply reach over to your floating cooler for another beverage-and wonder how the other half lives.</p>
        <p>Candlewood Lake is perfect for many water sports. To name a few:
        <ul class="list-unstyled">
            <li>Water skiing</li>
            <li>Tubing</li>
            <li>Knee Boarding</li>
            <li>Kayaking</li>
            <li>Canoeing</li>
            <li>Water Bicycling</li>
        </ul></p>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src="app/img/kayaking2.jpg" class="img-responsive">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="app/img/tubing.jpg" class="img-responsive">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="app/img/skiing.jpg" class="img-responsive">
            </div>
        </div><br>
    </div>
</div>