<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Nearby</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left"><br>
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <h3 class="color-primary" style="margin-top: 0">Local Communities</h3>
                <p>Mansfield, OH<br>Marion, OH<br>Ontario, OH<br>Lexington, OH<br>Bucyrus, OH<br>Galion, OH<br>Mount Gilead, OH</p>

                <h3 class="color-primary">Nearby Major Cities</h3>
                <p>Cleveland, OH<br>Columbus, OH</p>

                <h3 class="color-primary">Nearby Schools</h3>
                <h4>Northmor Local School District<br>(Pre School - 12)</h4>
                <p>5247 County Road 29<br>Galion, Ohio 44833<br><a href="tel:4199468861">(419) 946-8861</a><br><a href="http://www.northmor.k12.oh.us" target="_blank">www.northmor.k12.oh.us</a></p>

                <h4>Mount Gilead School District<br>(K-12)</h4>
                <p>Park Avenue Elementary School<br>335 W Park Ave<br>Mount Gilead, OH 43338<br><a href="tel:4199465736">(419) 946-5736</a></p>
                <p>Mt. Gilead Middle School<br>145 N. Cherry St.<br>Mount Gilead, OH. 43338<br><a href="tel:4199479517">(419) 947-9517</a></p>
                <p>Mt. Gilead High School<br>338 W. Park Ave<br>Mount Gilead, OH. 43338<br><a href="tel:4199476065">(419) 947-6065</a><br><a href="http://www.mtgilead.k12.oh.us" target="_blank">www.mtgilead.k12.oh.us</a></p>

                <h4>Gilead Christian School<br>(Early Childhood - 12)</h4>
                <p>North Campus (Kindergarten-6th)<br>220 South Main St.<br>Mount Gilead, OH. 43338<br><a href="tel:4199475739">(419) 947-5739</a><br>Fax <a href="tel:4199475010">(419) 947-5010</a></p>
                <p>South Campus (Early Childhood, JH & SH)<br>3613 Twp. Rd. 115<br>Mount Gilead, OH. 43338<br><a href="tel:4199465990">(419) 946-5990</a><br>Fax <a href="tel:4199461103">(419) 946-1103</a><br><a href="mailto:info@gileadchristianschool.org">info@gileadchristianschool.org</a></p>

                <h4>Galion City School District<br>(K-12)</h4>
                <p>Galion Primary School<br>478 Portland Way North<br>Galion, Ohio 44833<br><a href="tel:4194684010">(419) 468-4010</a></p>
                <p>Galion Intermediate School<br>476 Portland Way North<br>Galion, Ohio 44833<br><a href="tel:4194683676">(419) 468-3676</a></p>
                <p>Galion Middle School<br>474 Portland Way North<br>Galion, Ohio 44833<br><a href="tel:4194683134">(419) 468-3134</a></p>
                <p>Galion High School<br>472 Portland Way North<br>Galion, Ohio 44833<br><a href="tel:4194686500">(419) 468-6500</a><br><a href="http://www.galion-city.k12.oh.us" target="_blank">www.galion-city.k12.oh.us</a></p>

                <h4>St. Joseph Catholic School<br>(Preschool - 8)</h4>
                <p>138 N. Liberty Street<br>Galion, Ohio 44833<br>419 468-5436<br>Fax <a href="tel:4194683611">(419) 468-3611</a><br><a href="http://galionstjosephschool.catholicweb.com" target="_blank">http://galionstjosephschool.catholicweb.com</a></p>

            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <p>Candlewood Lake is located in <a href="http://morrowcountyohio.gov" target="_blank">Morrow County Ohio</a>, just North of Mount Gilead and South of Galion, Ohio.</p><p>Columbus and Cleveland, Ohio are a short drive away. Closer cities such as Bucyrus, Lexington, Mansfield, Marion and Ontario are less than 25 minutes away and offer shopping centers with well-known groceries and department anchor stores, restaurants and entertainment.</p>
                <h3 class="color-primary">Schools & Kids Activities</h3>
                <p>Candlewood Lake is located within the Northmor school district. Northmor is a newly built state of the art school campus housing grades kindergarten through 12. Children living within the Candlewood Lake community attend this campus which provides excellent academics and a variety of extracurricular activities.</p>
                <p>To learn more about the Northmor school district, click on the page links or look for scholastic testing results at either <a href="http://www.eschoolprofile.com" target="_blank">eschoolprofile.com</a> or <a href="http://www.greatschools.org" target="_blank">greatschools.org</a>.</p>
                <p>There are also a variety of private and Christian schools within a short distance of Candlewood Lake. These links are provided as well. Kids have plenty of activities to keep them active while living in our community. Active Boy Scout & Girl Scout groups keep our young boys & girls busy both within and outside the Candlewood Community. Lake amenities such as swimming, the beach, basketball, tennis and beach volleyball also keep our kids active. The surrounding communities also provide organized sports and activities for children to enjoy. Science centers, museums, shopping and major league sports are a short driving distance from Candlewood Lake.</p>
            </div>
        </div>
        <br>
    </div>
</div>


