<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">The Community</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left"><br>
        <div class="row">
            <div class="col-sm-12">
                <p>Candlewood Lake is a 1,500 acre planned, gated, serene lake community delivering advantages of city living in a recreational, vacation-like atmosphere year around.</p>
                <p>Our private family living community offers something for all ages whether you enjoy an active or relaxing lifestyle. With facilities throughout the development, your favorite activities are only a few minutes away.</p>
                <p>The current 750 full-time and part-time residences are nestled among our 1500 acre community with 140-acres dedicated to green space and amenities, and 25 acres set aside for parks.</p>
                <p>The planned aspect of the community provides subdivisions set aside for single family housing, mobile homes, recreational vehicles or temporary camping.</p>
                <p>The gated feature, in conjunction with Candlewood Lake's full-time security staff, provide the privacy you desire.</p>
                <p>Utilities and Services we have come to rely on are available in our community facilitated by our full-time maintenance staff.</p>
                <ul>
                    <li>Community Water system</li>
                    <li>Community Sewer system</li>
                    <li>Trash removal</li>
                    <li>Road maintenance & snow removal</li>
                    <li>Maintenance of common areas</li>
                </ul>
                <p>Utilities include:</p>
                <ul>
                    <li>High-speed Internet</li>
                    <li>Electricity</li>
                    <li>Natural gas</li>
                </ul>
            </div>
        </div>
        <br>
    </div>
</div>


