<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Clubs &amp; Organizations</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left"><br>
        <div class="row">
            <div class="col-sm-12">
                <p>Announcements and updates from Clubs &amp; Organizations will appear here. Club leadership/organizers may email any club updates, news and meeting dates/times to <a href="mailto:laurenp@candlewoodlake.us">laurenp@candlewoodlake.us</a> by the 20th of a month to have them posted onto the website for the next month.
                </p>
                <h3>Informal Clubs</h3>
                <dl class="list-unstyled">
                    <dt>Bridge Club</dt>
                    <dt>Euchre Club</dt>
                    <dt>Poker Club</dt>
                    <dt>Book Club</dt>
                    <dt>Water Ski Club</dt>
                </dl>
                <h3>Formal Clubs</h3>
                <dl class="list-unstyled">
                    <dt>Fish & Boat Club</dt>
                    <dd>The Fish & Boat Club has been an active club at Candlewood Lake for over 25 years. The Club sponsors multiple fishing tournaments each year, matches funds from Candlewood to stock fish in the lake annually, holds fund raisers and organizes social activities. Meetings usually include a pot luck meal. Club dues are $20 for a lifetime membership.</dd>
                </dl>
                <h3>Organizations/Committees</h3>
                <dl>
                    <dt>Welcome Committee</dt>
                    <dd>Connecting with people face to face leaves a lasting impression. New members of our community are welcomed and provided general information about the community and specific interests of new homeowners.</dd>
                    <dt>Events Committee</dt>
                    <dd>This committee develops event ideas and works with other community groups regarding their ideas for various types of events (entertainment, fund raisers, etc.). Planning an event, working an event and selling tickets are some of the activities of these committee members.</dd>
                    <dt>CWL Auxiliary</dt>
                    <dd>The Auxiliary supports Candlewood in a variety of ways including providing refreshments at community meetings and events and organizing fundraisers that benefit the community and non-community charities.</dd>
                    <dt>Landscape Committee</dt>
                    <dd>Candlewood purchases plants for all the flowerbeds located throughout the community, however, it is the members of this committee who plan, plant and maintain the landscaping beds.</dd>
                    <dt>Pool Committee</dt>
                    <dd>Members of this committee oversee all aspects relative to Candlewood's two swimming pools. They recommend pool policy and hours of operation, oversee the concessions and at the end of the year take a look at what worked and how to improve the pool experience for swimmers for the next year.</dd>
                </dl>

            </div>
        </div>
        <br>
    </div>
</div>


