<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Activities</h1>
            <p class="lead lead-xl center-block color-medium mb-2 animated fadeInDown animation-delay-4"> There are plenty of non-water recreational activities available in the Candlewood Lake community.</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left"><br>
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <p>Adjacent to the beach you will find a children's playground and volleyball court with plenty of parking available. Often you will see people playing corn hole on the grassy area up the hill from the beach.</p>
                <p>Candlewood Lake has a tennis court, basketball court and a recently opened nature trail. The trail is a work in progress. Join us in our ongoing project to make it a pleasant place to walk and visit. There are a variety of habitats for bird watchers including wooded, wetlands and grasslands to name a few. Many residents enjoy relaxing and having fun utilizing our many picnic spots. Plus there are miles of roadways that residents take advantage of when walking, running and bicycling.</p>
                <h3 class="color-primary">More Information</h3>
                <p>Among Candlewood Lake’s 25 acres of park area, beautiful surroundings offer relaxing walks, family picnics, a quiet place to read a book or a place to sit and view wildlife.  Picnic areas are equipped with tables and grills. Kids especially enjoy our playground next to the beach and sand volleyball court. Complete with "spring" animals, the playground is a magnet for small children within a pleasant park area ideal for parents and grandparents to relax and oversee play activities.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <img src="/app/img/volleyball.jpg" class="img-responsive" style="margin-bottom: 10px">
                <!--<img src="/app/img/tennis.jpg" class="img-responsive" style="margin-bottom: 10px">-->
                <img src="/app/img/playground.jpg" class="img-responsive" style="margin-bottom: 10px">
            </div>
        </div>
        <br>
    </div>
</div>