<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Frequently Asked Questions</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="color-primary">Why does Candlewood have so many rules?</h3>
                <p>Candlewood Lake is a very unique community. People who purchase a home or a lot in Candlewood Lake are looking for a certain type of clean, attractive, well-kept community. Candlewood is able to offer those qualities and many other positive benefits to its members only because there are policies in place to insure certain standards are maintained within our community. These policies have been carefully thought through and implemented throughout our history and are designed to insure that Candlewood remains one of Ohio's top gated lake communities far into the future. It is very important that you read all of our policies, ordinances, and By-Laws before considering purchasing land or a home in Candlewood Lake.</p>

                <h3 class="color-primary">Who do I call if I'd like to purchase a lot or a home in Candlewood Lake?</h3>
                <p>Contact our office at <a href="tel:4199471138">(419) 947-1138</a>. They will point you in the right direction to purchase a Candlewood Lake owned lot or provide you with a list of Real Estate companies that advertise in our monthly newsletter. Our web site also contains a list of realtors and homeowners who have real estate for sale. See the <a href="/real-estate/for-sale">For Sale</a> page for more information.</p>

                <h3 class="color-primary">What are the monthly assessments?</h3>
                <p>Depending on whether you live in the residential, RV or mobile home area, fees can range from approximately $75 to $111 per month per lot, depending on the lot location and what improvements have been made to it. There are various discounts for multiple lots and other factors. Water & sewer costs are included in the assessment fees. Trash is also included if you are a resident.Click Here for our Current Assessment Schedule.</p>

                <h3 class="color-primary">What utilities are available at Candlewood Lake?</h3>
                <p>Phone &nbsp; | &nbsp; Sprint / Embarq <a href="tel:8663046820">(866) 304-6820</a><br>
                    High Speed DSL Internet &nbsp; | &nbsp; Enbarq/Earthlink <a href="tel:8663046820">(866) 304-6820</a><br>
                    Electric &nbsp; | &nbsp; Consolidated Electric <a href="tel:800-421-5863">(800) 421-5863</a><br>
                    Knox Gas &nbsp; | &nbsp; Gas Company <a href="tel:888-863-0032">(888) 863-0032</a><br>
                    Water / Sewer &nbsp; | &nbsp; Candlewood owned &amp; operated <a href="tel:(419) 947-1138">(419) 947-1138</a><br>
                    Cell Phone Territory &nbsp; | &nbsp; Verizon, Sprint, Nextel<br>
                    Garbage Pickup &nbsp; | &nbsp; Candlewood owned &amp; operated* <a href="tel:4199471138">(419) 947-1138</a><br><br><small>*Included in monthly assessments for residents.</small>
                </p>
                <h3 class="color-primary">How far away are grocery stores and gas stations?</h3>
                <p>Both Mount Gilead and Galion are less than 15 minutes away. Within both of these towns you will find nationally known grocery stores and gas stations. During the summer season, you will find local farmers selling fresh fruit and vegetables along the road ways. There is also a convenience store located just a minute away on county road 40. It is south of the dam and on the same side of CR 40 as the RV park. Due to liability and insurance costs, there is not a marina with gasoline for boats, on the lake.</p>

                <h3 class="color-primary">What are the rules for boats?</h3>
                <p>There is unlimited horse power for speed boats with a 40mph speed limit and 246 inch (20’ 6”) length limit for speed boats. Pontoon boats are limited to a 40hp engine size, 26 feet in length and are not permitted to pull tubes or skiers. Jet skis, cutty cabins and houseboats are not permitted. Only boats registered to property owners may be placed on the lake. For full details on boat requirements, please see the Candlewood Lake Handbook.</p>

                <h3 class="color-primary">Where can I find Boat Maintenance & Storage?</h3>
                <p>A local mechanic that services both cars and boats is located on county road 40 just across from the dam. In addition, there are other boat services located in Marion, Ontario and Mount Vernon. The fish and boat club each year have a weekend or two in which you can have your pontoon boat pulled out of the lake and parked in the parking lot next to the north docks. There are also several self-storage facilities located within minutes of Candlewood. During the boating season, those that do not live on the lake can rent a dock within one of the two common dock areas. Contact the office at <a href="tel:4199471138">(419) 947-1138</a> for dock rental cost and availability.</p>
            </div>
        </div>
        <br>
    </div>
</div>