<div>
    <div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
        <div class="container">
            <div class="text-center">
                <!--<span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">CW</span>-->
                <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Welcome to
                    <span>Candlewood Lake</span>
                </h1>
                <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">We are a 1,500 acre private, gated, serene <span class="color-warning">lake community</span> delivering advantages of city living in a vacation-like atmosphere year around.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
            <div class="card-block">
                <!--<h2 class="color-primary">About Us</h2>-->
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <p>Located in Morrow County, just North of Mt. Gilead Ohio, a short drive from both Columbus and Cleveland, Ohio, many of our residents live here full-time. Others live here part-time while some choose to enjoy Candlewood on a seasonal basis.</p>
                        <p>Candlewood is owned and operated by our homeowners association. The association has overseen the continual progress of our community from its humble beginnings with one home in 1973 to its current position as the highest valued, second largest municipality in Morrow County. Candlewood is one of Ohio's best private lake communities in which to live, due in part to the planning that went into its formation.</p>
                    </div>
                    <div class="col-md-6 text-justify">
                        <p>Back in the early 70's, before any construction began, the community was carefully laid out by the planners. Their goal was to shape the look, feel and future of the community around the lake and other leisure amenities. The results included: </p>
                        <ul>
                            <li>140 acres of parks and green space,</li>
                            <li>Facilities, such as lodges and swimming pools, for community use,</li>
                            <li>Areas set aside for residential houses only,</li>
                            <li>Areas set aside for mobile residential homes only,</li>
                            <li>An area set aside for a seasonal living RV Park and</li>
                            <li>An area set aside for seasonal camping for members and their guests.</li></ul>
                    </div>
                </div>
            </div>
            <img src="app/img/Lakepan2.jpg" class="img-responsive">
            <div class="bg-orange">
                <div class="card-block-big">
                    <h2 class="color-white text-center mb-4">Be Active or Just Relax</h2>
                    <div class="row">
                        <div class="col-md-6 color-white">
                            <p>Whether you enjoy an active or relaxing lifestyle, Candlewood offers plenty to do. With facilities throughout the development, your favorite activities are only a few minutes away. Outdoor sports are a favorite at Candlewood Lake. The most popular lake activities include boating, fishing, swimming, water skiing and tubing. Off the lake, you will enjoy bike riding, tennis, basketball or digging a spike out of the sand while playing volleyball.</p>
                        </div>
                        <div class="col-md-6 color-white">
                            <p>There are also lots of ways to relax and take it easy at Candlewood Lake. You can choose from sitting in a park and reading a book, watching nature while&nbsp;strolling&nbsp;along the nature trail, enjoying a picnic with family and friends, floating on a raft in the protected swimming area off the beach, or&nbsp;sunbathing on the beach or at one of the two swimming   pools in the Community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>