<div class="container">
    <div class="row"><br>
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12 col-xs-offset-0">
            <h1 ng-show="tab === 1" class="text-center">Login</h1>
            <h1 ng-show="tab === 2" class="text-center">Register</h1>
            <h1 ng-show="tab === 3" class="text-center">Recover Password</h1>
            <div ng-show="tab === 1">
                <form autocomplete="off" ng-submit="login()">
                    <fieldset>
                        <div class="form-group label-floating is-empty">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" ng-model="user.email" id="login-email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <div class="input-group">
                               <span class="input-group-addon">
                                  <i class="fa fa-lock"></i>
                               </span>
                                <input type="password" id="login-password" ng-model="user.pwd" placeholder="Password" class="form-control">
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-show="error">
                          {{error.message ? error.message : error}}
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <a href="" ng-click="tab = 2" class="pull-right">Register an Account</a><br>
                                <button class="btn btn-raised btn-block btn-primary" type="submit">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
                <div ng-show="tab === 2">
                    <form autocomplete="off" ng-submit="register()">
                        <fieldset>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" id="register-firstName" ng-model="user.firstName" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" id="register-lastname" ng-model="user.lastName" placeholder="Last Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                         <i class="fa fa-envelope"></i>
                                     </span>
                                    <input type="email" id="register-email" name="regEmail" ng-model="user.email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                         <i class="fa fa-hashtag"></i>
                                     </span>
                                    <input type="text" id="register-lotNumber" name="regLotNumber" ng-model="user.lotNumber" placeholder="Lot #" class="form-control">
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                                     <span class="input-group-addon">
                                           <i class="fa fa-lock"></i>
                                     </span>
                                    <input type="password" id="register-password" ng-model="user.pwd" placeholder="Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                                    <input type="password" id="register-password-confirm" ng-model="user.passwordConfirm" placeholder="Confirm Password" class="form-control">
                                </div>
                            </div>
                            <div class="alert alert-danger" ng-show="error">
                                {{error.message ? error.message : error}}
                            </div>
                            <div class="alert alert-success" ng-show="registrationSent">
                                Your registration has been submitted! An administrator will need to approve your account before you can log into the system. Thank you!
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <a href="" ng-click="tab = 1" class="pull-right">Have an Account?</a><br>
                                </div>
                            </div>
                            <button class="btn btn-raised btn-block btn-primary" type="submit">Register Now</button>
                        </fieldset>
                    </form>
                </div>
                <div ng-show="tab === 3">
                    <form autocomplete="off" ng-submit="forgotPassword()">
                        <fieldset>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                                    <label class="control-label" for="forgot-username">Username</label>
                                    <input type="text" id="forgot-username" ng-model="forgot.username" class="form-control">
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                                    <label class="control-label" for="forgot-email">Email</label>
                                    <input type="email" id="forgot-email" ng-model="forgot.email" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <a href="" ng-click="tab = 2" class="pull-left">Register an Account</a>
                                    <a href="" ng-click="tab = 1" class="pull-right">Have an Account?</a><br>
                                </div>
                            </div>
                            <button class="btn btn-raised btn-block btn-primary" type="submit">Send Password</button>
                        </fieldset>
                    </form>
                </div><br><br>
            </div>
        </div>
    </div>
</div>
