<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Map & Directions</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12"><br>
                <p>Situated in the north-central portion of the state of Ohio just north of Mount Gilead, Candlewood Lake has become known as one of the top gated lake communities in the state. We are the second largest community within Morrow County, the fastest growing county in the regional area. The main entrance gate is located off State Route 19. Located only 45 minutes from Polaris Parkway in Columbus, Ohio; less than two hours from Cleveland, Toledo and Dayton and two and a half hours from Cincinnati. We are in the perfect location to be a short drive to a second vacation home or to commute to and from work in the Columbus area. Give us a call at <a href="tel:4199471138">(419) 947-1138</a> Monday - Friday, 8am - 4:30pm, or at <a href="tel:4199473511">(419) 947-3511</a> all other hours, we'll be happy to show you what it's like to vacation 365 days per year!</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3 class="color-primary">Directions</h3>
                <p>Located North of Columbus, Ohio, Candlewood Lake is a short drive from Major Cities.</p>
                <h4>From the North</h4>
                <ul>
                    <li>Follow I-71 south to exit 165, State Route 97.</li>
                    <li>Right onto State Route 97 North-East to State Route 42.</li>
                    <li>Left onto State Route 42 to State Route 19.</li>
                    <li>Right onto State Route 19 North</li>
                    <li>Follow approximately 4 miles to the Candlewood Lake front gate on the left</li>
                </ul>
                <h4>From the North East</h4>
                <ul>
                    <li>Follow State Route 30 West to I-71</li>
                    <li>Follow I-71 south to exit 165, State Route 97.</li>
                    <li>Right onto State Route 97 North-East to State Route 42.</li>
                    <li>Left onto State Route 42 to State Route 19.</li>
                    <li>Right onto State Route 19 North</li>
                    <li>Follow approximately 4 miles to the Candlewood Lake front gate on the left</li>
                </ul>
                <h4>From the North West</h4>
                <ul>
                    <li>Follow State Route 30 East to Route 598</li>
                    <li>Follow Route 598 south to State Route 19</li>
                    <li>Left onto State Route 19.</li>
                    <li>Follow State Route 19 South approximately 10 miles to the Candlewood Lake front gate on the right</li>
                </ul>
                <h4>From the South</h4>
                <ul>
                    <li>Follow I-71 North to exit 151, State Route 95.</li>
                    <li>Left onto State Route 95 West to Mt. Gilead</li>
                    <li>Right onto State Route 42. Follow State Route 42 to State Route 19.</li>
                    <li>Left onto State Route 19 North</li>
                    <li>Follow approximately 4 miles to the Candlewood Lake front gate on the left</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="color-primary">Maps</h3>
                <a href="http://www.mapquest.com/#db33317c3d591367102bb7f3" target="_blank">Mapquest</a> or <a href="https://goo.gl/maps/K9xfCmYtj8m" target="_blank">Google</a><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d387452.61699271336!2d-82.765503!3d40.652513!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8839a4eff6a1a4ad%3A0x297c29cc5f06ec5!2s7326+OH-19%2C+Mt+Gilead%2C+OH+43338!5e0!3m2!1sen!2sus!4v1507595889917" frameborder="0" style="border:0; width: auto; height: auto" allowfullscreen></iframe>
            </div>
        </div><br>
    </div>
</div>