<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Real Estate &amp; Building Information</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="color-primary">Information</h3>
                <p>Houses and lots are available in various locations throughout Candlewood. These include listings on the Lake, at 1st Tier (Lake View), and at 2nd Tier (off-shore) locations. There are listings for sale by owner, by a real estate agent and by the Candlewood Lake Association (lots only). Candlewood Lake sales representatives or a professional real estate agent will expertly assist you in finding the ideal full-time or vacation place for you. You can explore real estate listings <a href="/real-estate/for-sale">here</a>. Many Candlewood Lake listings may be found at <a href="http://lakehouse.com/search.php?cid=704&s_res=AND">Lakehouse.com</a>.</p>
                <h3 class="color-primary">Building Information</h3>
                <p>Candlewood Lake has an Environmental Control Committee (ECC) that is comprised of a Board Trustee member and at least one member from each type of housing area in the community as listed below:</p>
                <ul>
                    <li>Residential houses</li>
                    <li>Mobile residential homes</li>
                    <li>Seasonal living RV Park</li>
                </ul>
                <p>The work of the Committee is to provide specific standards for preserving the original recreational and residential theme in our private, owner regulated community. The ECC reviews and approves building, structure, improvement, or installation permits in accordance with deed restrictions and building codes.</p>
                <p>The <a href="app/docs/BuildingCodes.pdf" target="_blank">ECC Handbook</a> is your informational guide for initial, improvements, and other structure related building codes. If you require assistance or have additional questions, please contact the Association Office at (419) 947-1138 or the ECC Chairperson.</p>
            </div>
        </div>
        <br>
    </div>
</div>