<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Real Estate For Sale</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="text-left">
        <div class="row">
            <div class="col-sm-12"><br>
                <div class="text-center">
                    <button class="btn btn-primary" ng-class="{'active': tab === 2}" ng-click="tab = 2">
                        By Candlewood Lake
                    </button>
                    <button class="btn btn-primary" ng-class="{'active': tab === 1}" ng-click="tab = 1">
                        By Realtors &amp; Homeowners
                    </button>
                </div>
            </div><div class="clearfix"></div><hr>
            <div ng-show="tab === 2" class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>With over 1,500 acres of property in the Candlewood Lake community, buyers are afforded the opportunity to choose from a variety of lots. These lots include:</p>
                        <ul class="list-unstyled">
                            <li>Lakefront</li>
                            <li>1st Tier (lake view) and</li>
                            <li>2nd Tier (off-shore)</li>
                        </ul>
                        <p>Within these three categories, there is a selection of heavily or lightly wooded lots or lots with no trees at all.</p>
                        <p>There are purchase options to build in residential house areas or in mobile home residential areas. Lots are also available in the RV Park for seasonal living/camping. Although lots are selling quickly, there are still some premier lots and groupings available. We offer several options for those interested in purchasing land at Candlewood Lake.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>The Home Owners Association offers potential residents the opportunity to view lots that are available for purchase from the Association by providing a tour guide who will review available properties with you as well as provide information about our community.</p>
                        <p>Candlewood Lake is currently featuring 6 wooded lakefront lots located on the canal around Turtle Island. These lots are situated high on a bluff overlooking the island and the lake. Five of the lots are contiguous and can be purchased separately or combined (up to 3) if a larger plot is desired. These lots are very good building sites with the ability to have a dock to enjoy beautiful Candlewood Lake.</p>
                        <p>Give us a call at <a href="tel:4199471138">(419) 947-1138</a> or send an email to <a href="mailto:sales@candlewoodlake.us">sales@candlewoodlake.us</a>. We'd be happy to show you what it's like to experience the closest thing in Ohio to living in a private State Park!</p>
                    </div>
                </div>
            </div>
            <div ng-show="tab === 1" class="col-sm-12">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <img src="app/img/cwladlogo.jpg" class="img-responsive" style="margin-bottom: 10px">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <p>Association Office<br>
                            <a href="mailto:sales@candlewoodlake.us">sales@candlewoodlake.us</a><br>
                            <a href="tel:4199471138">(419) 947-1138</a>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-12">
                        <p>Lake front, lake view & off-shore lots available.</p>
                        <a href="" ng-click="tab = 2">For Sale by Candlewood</a>
                    </div>
                </div><br>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <img src="app/img/HowardHanna.jpg" class="img-responsive" style="margin-bottom: 10px">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <p>Call Carol Lessick, Realtor<br>
                            <a href="mailto:carol@morrowhometeam.com">carol@morrowhometeam.com</a><br>
                            <a href="tel:4197684599">(419) 768-4599</a>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-12">
                        <p>View all of our listings at <a href="http://www.morrowhometeam.com">www.morrowhometeam.com</a></p>
                        <p>We are the key to your new home in Candlewood Lake. Call us now!</p>
                    </div>
                </div><br>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <img src="app/img/century21.jpg" class="img-responsive" style="margin-bottom: 10px">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <p>Century 21<br>
                            Bob McElroy Realty<br>
                            <a href="mailto:bob.mcelroy@century21.com">bob.mcelroy@century21.com</a><br>
                            <a href="tel:4195603636">(419) 560-3636</a>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-12">
                        <p>See all of our listings at <a href="http://www.century21bobmcelroy.com">www.century21bobmcelroy.com</a></p>
                        <p>Selling at Candlewood Lake for over 37 years. Your satisfaction is our success.</p>
                    </div>
                </div><br>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <img src="app/img/remax.jpg" class="img-responsive" style="margin-bottom: 10px">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <p>Remax Genesis<br>
                            <a href="mailto:pattijackson@remax.net">pattijackson@remax.net</a><br>
                            <a href="tel:4199463800">(419) 946-3800</a>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-12">
                        <p>See all of our listings at <a href="http://www.pattijackson.com">www.pattijackson.com</a>.</p>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Real Estate Ads may be purchased by a realtor with listings in Candlewood Lake or by an individual homeowner who is a member of the Candlewood Lake Association and is selling their home or lot.</p>
                        <p>Ads will run on a monthly basis and cost $50.00 per month or $500.00 for 12 months.</p>
                        <p>Your ad may include the following information:</p>
                        <ul>
                            <li>Company Logo (if applicable)</li>
                            <li>Name of Agent or Home Owner</li>
                            <li>Contact Information:
                                <ul>
                                    <li>Email address</li>
                                    <li>Phone Number</li>
                                </ul>
                            </li>
                            <li>Short description of the listing
                                <ul>
                                    <li>120 characters maximum, including punctuation and spaces</li>
                                </ul>
                            </li>
                            <li>Link to a website</li>
                        </ul>
                        <p>To initiate an Ad, the advertiser should follow the directions on the Real Estate Ad Template and email it to <a href="mailto:allisonh@candlewoodlake.us">allisonh@candlewoodlake.us</a>.</p>
                        <p>An Ad Template and payment received by the 20th of a month would begin running on the first business day of the following month or on the first month requested in the template submitted by the advertiser. The Ad will appear for the number of months corresponding to the request and to the payment made.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>